
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1e5;
}

.container {
    margin: 10px;
}

.header {
    height: 100px;
    background-color: #c4c4c4;
}

.title_header {
    padding: 10px 20px;
    color: #3b3b3b;
    font-size: 35px;
    font-weight: 900;
}

.btn_title {
    padding: 4px;
    font-size: 12px;
    font-weight: 700;
}

.btn_add {
    position: absolute;
    right: 0;
    margin-right: 20px;
}


.btn {
    display: flex;
    margin: 50px 0 0 40px;
}

.table {
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.show {
    display: table;
}

.hide {
    display: none;
}

.table_th {
    padding: 5px;
}

.table_tr_root {
    margin: 0;
    text-align: justify;
    background-color: #c4c4c4;
}

.table_tr {
    margin: 0;
}

/* Нечетные строки */
.odd {
    background: #fff;
}

/* Четные строки */
.even {
    background: #E7E7E7;
}

.image_sort {
    margin-left: 2px;
    width: 12px;
    height: 12px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.modal_emp {
    display: none;
}

.modal_task {
    display: none;
}

.modal_dialog {
    max-width: 100%;
    margin: 40px auto
}

.modal_content {
    position: relative;
    margin: 150px auto;
    width: 600px;
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto
}

.modal_title {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}


.this_btn_modal {
    font-size: 14px;
    font-weight: 900;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn_modal {
    position: absolute;
    bottom: 30px;
    width: 514px;
}

.btn_modal .btn_form_delete {
    background-color: red;
}

.btn_modal .btn_form_close {
    position: absolute;
    background-color: red;
    right: 140px;
}

.btn_modal .btn_form_save {
    position: absolute;
    background-color: green;
    right: 0;
}

.modal input {
    font-size: 14px;
    width: 100%;
    padding: 5px;
}

.modal .title {
    font-size: 20px;
    font-weight: 900;
}

.modal_table {
    width: 100%;
    border-top: 25px;
    border-right: 60px;
    border-spacing: 25px 35px;
}

.description_input {
    width: 100%;
    height: 70px;
    font-size: 14px;
    padding: 5px;
}


.modal_task .title_desc {
    vertical-align: top;
}

.leader_select {
    padding: 5px;
    font-size: 14px;
}

#form_numb {
    width: 50px;
}


