<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"> <!-- Кодировка нашей страницы -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Для своместимости с IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Для красивого и правильного отображения на мобильных устройств -->
    <meta name="description" content="Это мой первый пример страницы"> <!-- Описание страницы -->
    <meta name="author" content="Рамиль"> <!-- Автор страницы -->
    <title>Список сотрудников</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <header>
        <div class="header">
            <h1 class="title_header">Список задач и исполнителей</h1>
        </div>
    </header>

    <!--    <form method="get" th:action="@{/tasks}">-->
    <!--        <button type="submit" name="submit" value="value" class="link-button">Задачи</button>-->
    <!--    </form>-->
    <div class="btn">
        <button class="btn_emp btn_title">Сотрудники</button>
        <button class="btn_task btn_title">Задачи</button>
        <div class="btn_add">
            <button class="btn_add_emp btn_title show">Добавить сотрудника</button>
            <button class="btn_add_task btn_title hide">Добавить задачу</button>
        </div>
    </div>
    <div class="div_table">
        <table class="table_emps table" id="tb_emp">
            <tr class="table_tr_root">
                <th class="table_th">ID
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
                <th class="table_th">ФИО
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
                <th class="table_th">Руководитель
                    <img class="image_sort" src="/images/sort.png" alt=""/></th>
                <th class="table_th" >Филиал
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
                <th class="table_th">Количество задач
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
            </tr>
        </table>
        <table class="table_tasks table hide" id="tb_task">
            <tr class="table_tr_root">
                <th class="table_th">ID
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
                <th class="table_th">Название
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
                <th class="table_th">Исполнитель
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
                <th class="table_th">Приоритет
                    <img class="image_sort" src="images/sort.png" alt=""/></th>
            </tr>
        </table>
    </div>


    <!--        <tr class="table_tr" th:each="person : ${allEmployees}">-->
    <!--            <td class="table_th" th:utext="${person.getId()}"></td>-->
    <!--            <td class="table_th" th:utext="${person.getFull_name()}"></td>-->
    <!--            <td class="table_th" th:utext="${person.getLeaderName()}"></td>-->
    <!--            <td class="table_th" th:utext="${person.getBranch_name()}"></td>-->
    <!--            <td class="table_th" th:utext="${person.getNumber_tasks()}"></td>-->
    <!--        </tr>-->

</div>
<div class="modal modal_emp" >
    <div class="modal_dialog">
        <div class="modal_content">
            <form action="#" class="modal_form" name="emp">
                <div class="modal_emp_title modal_title">Редактирование -</div>
                <!--                Сделать таблицу-->
                <table class="modal_table">
                    <tr>
                        <td>
                            <div class="title">ФИО</div>
                        </td>
                        <td><input required placeholder="ФИО" name="full_name" type="text" class="fio_input two"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Руководитель</div>
                        </td>
                        <td>
                            <select name="emp_id" class="leader_select two"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <snap class="title">Филиал</snap>
                        </td>
                        <td><input required placeholder="Филиал" name="branch" type="text" class="branch_input two">
                        </td>
                    </tr>
                </table>
                <div class="btn_modal">
                    <button class="btn_form_delete this_btn_modal">Удалить</button>
                    <button class="btn_form_close this_btn_modal">Отмена</button>
                    <button class="btn_form_save this_btn_modal">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal_task">
    <div class="modal_dialog">
        <div class="modal_content">
            <form action="#" class="modal_form" name="task">
                <div class="modal_task_title modal_title">Редактирование -</div>
                <!--                Сделать таблицу-->
                <table class="modal_table">
                    <tr>
                        <td class="title_desc">
                            <div class="title ">Описание</div>
                        </td>
                        <td><textarea required placeholder="Описание" name="description" type="text"
                                      class="description_input two"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="title">Ответственный</div>
                        </td>
                        <td><select name="emp_id" class="leader_select two"></select></td>
                    </tr>
                    <tr>
                        <td>
                            <snap class="title">Приоритет</snap>
                        </td>
                        <td><input id="form_numb" type="number" name="priority" value="1" min="1" max="9" step="1" onkeypress="return false">
                        </td>
                    </tr>
                </table>
                <div class="btn_modal">
                    <button class="btn_form_delete this_btn_modal">Удалить</button>
                    <button class="btn_form_close this_btn_modal">Отмена</button>
                    <button class="btn_form_save this_btn_modal">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>










